<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="POCS.Properties.Settings.POS_DBConnectionString" connectionString="Data Source=cpcomm;Initial Catalog=POCS;Persist Security Info=True;User ID=sa;Password=skinhead"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="POCS"/> 
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="connStr" value="data source=cpcomm;Initial Catalog=POCS;Persist Security Info=True;User ID=sa;Password=skinhead"></add>
  </appSettings>
  <applicationSettings>
    <POCS.Properties.Settings>
      <setting name="strFileUploadPath" serializeAs="String">
        <value>C:\temp</value>
      </setting>
      <setting name="FileUploaderService" serializeAs="String">
        <value>http://localhost:2238/FileUploader.asmx</value>
      </setting>
      <setting name="StdDeliveryInfo" serializeAs="String">
        <value>Upon acceptance of this PO, Vendor agrees to our standard terms and conditions (attached) and we shall be entitled to treat any other terms and conditions introduced by or on behalf of the vendor as having no effect. 
Payment Terms : days from receipt of undisputed invoice supported by complete documentation 
Deliver to: Attn:  
Unless otherwise indicated on this PO, price includes delivery up to the delivery point mentioned above. 
Promised delivery date : </value>
      </setting>
    </POCS.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <POCS.Properties.Settings>
      <setting name="margin_bottom" serializeAs="String">
        <value>0.1
</value>
      </setting>
      <setting name="margin_left" serializeAs="String">
        <value>0.9
</value>
      </setting>
      <setting name="margin_right" serializeAs="String">
        <value>0.7
</value>
      </setting>
      <setting name="margin_top" serializeAs="String">
        <value>1.1
</value>
      </setting>
      <setting name="ImportantInstructions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>The above P/O No., Project / CC Name, and name of Vessel(if applicable) should be indicated on Delivery Order and Invoice.</string>
            <string>The duration indicated above is an estimate only. Rental or charges shall based on the actual duration as per timesheet duly approved by TLO. Any duration in excess of the above estimated shall require an Addendum to this P/O, Signed by the TLO authorised signatory.</string>
            <string>The Quantity indicated above is an estimate only. Invoice shall be based on the actual delivered quantity as per Delivery Order (DO) or Bunker Delivery Note (BDN). </string>
            <string>Bills of Loading or Airway bills must be attached to Invoice to support any freight charges charged</string>
          </ArrayOfString>
        </value>
      </setting>
    </POCS.Properties.Settings>
  </userSettings>
</configuration>
